<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="dat[title]"
          value="<%= listing.title %>"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter the Title</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="location" class="form-label">Location</label>
          <input
            name="dat[location]"
            value="<%= listing.location %>"
            type="text"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="dat[country]"
            value="<%= listing.country %>"
            type="text"
            class="form-control"
            required
          />
        </div>
        <div class="invalid-feedback">
          Please enter the Location a nd Country
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="dat[description]" class="form-control" required>
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please enter the Description</div>
      </div>

      <div>
        <p>original image</p>
        <img src="<%= originalImageUrl  %> " alt="">
      </div>

      <div class="mb-3">
        <label for="imageURL" class="form-label">Upload New image</label>
        <input
          name="dat[image][url]"
         
          type="file"
          class="form-control"
          
        />
        <div class="invalid-feedback">Please enter the Title</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          name="dat[price]"
          value="<%= listing.price %>"
          type="number"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter the Price</div>
      </div>

      <!-- <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input
          name="dat[date]"
         
          type="date"
          class="form-control"
          required
        />
      </div> -->

      <button class="btn btn-dark">Update</button>
    </form>
  </div>
</div>
<script src="/js/script.js"></script>
